{% extends "base.html" %} {% load staticfiles %}
{% block title %} Write A Post {% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <form method="post" action="." enctype="multipart/form-data">
                <!-- csrf_token is needed every time used post -->
                {% csrf_token %}

                <div class="form-group">
                    <label for="avatar">Title Image</label>
                    <input type="file" class="form-control-file" name="avatar" id="avatar">
                </div>

                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" 
                           class="form-control" 
                           id="title" 
                           name="title"
                    >
                </div>
                
                <div class="form-group">
                    <label for="column">Category</label>
                    <select class="form-control col-3" 
                            id="column" 
                            name="column"
                    >
                            <option value="none">Select category..</option>
                        {% for column in columns %}
                            <option value="{{ column.id }}">{{ column }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="tags">Tags</label>
                    <input type="text" 
                           class="form-control col-3" 
                           id="tags" 
                           name="tags"
                    >
                </div>

                <div class="form-group">
                    <label for="body">Content</label>
                    <textarea type="text" 
                              class="form-control" 
                              id="body" 
                              name="body" 
                              rows="12"
                    ></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}