{% extends "base.html" %}
{% load staticfiles %}
{% load my_filters_and_tags %}

{% block title %}
    Home
{% endblock title %}

{% block content %}

<!-- define post div container -->
<div class="container">
    <!-- breadcrumb navigation -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'article:article_list' %}?search={{ search }}&column={{ column }}&tag={{ tag }}">
                    Latest
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'article:article_list' %}?order=total_views&search={{ search }}&column={{ column }}&tag={{ tag }}">
                    Most Views
                </a>
            </li>
        </ol>
    </nav>

    <!-- Search bar -->
    <div class="row">
        <div class="col-auto mr-auto">
            <form class="form-inline" >
                <label class="sr-only">content</label>
                <input type="text" 
                    class="form-control mb-2 mr-sm-2" 
                    name="search" 
                    placeholder="Search article..." 
                    required
                >
            </form>
        </div>
    </div>

    <!-- search message -->
    {% if search %}
        {% if articles %}
            <h4><span style="color: red">"{{ search }}"</span> search result：</h4>
            <hr>        
        {% else %}
            <h4>No article about <span style="color: red">"{{ search }}"</span> yet</h4>
            <hr>
        {% endif %}
    {% endif %}
        
    <!-- list circle -->
    <div class="row mt-2">
        {% for article in articles %}
            
            {% if article.avatar %}
                <div class="col-3">
                    <img src="{{ article.avatar.url }}" 
                         alt="avatar" 
                         style="max-width:100%; border-radius: 20px"
                    >
                </div>
            {% endif %}

            <div class="col">
                {% if article.column %}
                    <a  role="button" 
                        href="{% url 'article:article_list' %}?column={{ article.column.id }}"
                        class="btn btn-sm mb-2
                            {% if article.column.title == 'Django' %}
                                btn-success
                            {% elif article.column.title == 'Java' %}
                                btn-danger
                            {% elif article.column.title == 'HTML' %}
                                btn-warning
                            {% endif %}
                        "
                    >
                        {{ article.column }}
                    </a>
                {% endif %}

                <span>
                    {% for tag in article.tags.all %}
                        <a href="{% url 'article:article_list' %}?tag={{ tag }}"
                           class="badge badge-secondary" 
                        >
                            {{ tag }}
                        </a>
                    {% endfor %}
                </span>


                <h4>
                    <b>
                        <a href="{% url 'article:article_detail' article.id %}"
                           style="color: black;" 
                        >
                            {{ article.title }}
                        </a>
                    </b>
                </h4>
                
                <div>
                    <p style="color: gray;">
                        {{ article.body|slice:'100' }}...
                    </p>
                </div>
                
                <p>
                    
                    <span>
                        <i class="fas fa-eye" style="color: lightskyblue;"></i>
                        {{ article.total_views }}&nbsp;&nbsp;&nbsp;
                    </span>
                    <span>
                        <i class="fas fa-comments" style="color: yellowgreen;"></i>
                        {{ article.comments.count }}&nbsp;&nbsp;&nbsp;
                    </span>
                    <span>
                        <i class="fas fa-clock" style="color: pink;"></i>
                        <!--
                        {{ article.created|date:'Y-m-d' }}
                        -->
                        {{ article.created|timesince_zh }}
                    </span>
                </p>
            </div>
            <hr style="width: 100%;"/>
        {% endfor %}
    </div>


    <div class="pagination row">
        <div class="m-auto">
            <span class="step-links">
  
                {% if articles.has_previous %}
                    <a href="?page=1&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}" class="btn btn-success">
                        &laquo; 1
                    </a>
                    <span>...</span>
                    <a href="?page={{ articles.previous_page_number }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}" 
                       class="btn btn-secondary"
                    >
                        {{ articles.previous_page_number }}
                    </a>
                {% endif %}

               
                <span class="current btn btn-danger btn-lg">
                    {{ articles.number }}
                </span>

                
                {% if articles.has_next %}
                    <a href="?page={{ articles.next_page_number }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}"
                       class="btn btn-secondary"
                    >
                        {{ articles.next_page_number }}
                    </a>
                    <span>...</span>
                    <a href="?page={{ articles.paginator.num_pages }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}"
                       class="btn btn-success"
                    >
                        {{ articles.paginator.num_pages }} &raquo;
                    </a>
                {% endif %}
            </span>
        </div>
    </div>

</div>

{% endblock content %}